<div class="container pt-3">
  <h2 style="color: #FF6713">Toutes les cuisines</h2>
</div>

<div class="container lg d-flex align-content-start flex-wrap" id="custom-cards">

  <% @kitchens.each do |kitchen| %>
    <div class="card m-3" style="width: 20rem;">
      <img src="<%= kitchen.picture %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= kitchen.name %></h5>
        <p class="card-text"><%= kitchen.description %></p>
        <a href="<%= kitchen_path(kitchen.id) %> %>" class="btn btn-primary">voir plus</a>
      </div>
    </div>
  <% end %>

</div>
